<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="assets/css/furatto/normalize.css" />
        <link rel="stylesheet" href="assets/css/furatto/furatto.css" />
        <link rel="stylesheet" href="assets/css/furatto/docs.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <script src="https://kit.fontawesome.com/0da40593d8.js" crossorigin="anonymous"></script>
    </head>
    <body>

  <div class="panel-content" id="body">
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner docs-navbar-inner">
              <div class="container">
                <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
                <div class="nav-collapse collapse">
                    <nav id="menu">
                        <ul class="nav docs-navbar-menu">
                          <li><a class="brand" href="/">{{ page.title }}</a></li>
                            <li class=""><a href="http://sugamasao.hatenablog.com/">Blog</a></li>
                            <li class=""><a href="https://twitter.com/sugamasao">Twitter</a></li>
                            <li class=""><a href="https://github.com/sugamasao">github</a></li>
                            <li class=""><a href="http://www.slideshare.net/sugamasao">slideshare</a></li>
                            <li class=""><a href="https://speakerdeck.com/sugamasao">Speaker Deck</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="main_image">
            <h1 class="jumbo-header">{{ page.title }}</h1> 
            <p class="motto">I'm Software Developer. I Like Ruby and Vim :)</p>
        </div>
    </div>

    <div class="container-center">
        <div class="row">
            <div class="col-7">
                {{ content }}
            </div>
            <div class="col-5">
                <div>
                  <p>頑張って書いたので買ってください :)</p>
                </div>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=masadiary08-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B08D3DW7LP&linkId=ef55d3f9438db3d4fc952db5b9c5b683&bc1=000000&lt1=_blank&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr"></iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=masadiary08-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07ZCGSZR4&linkId=30237109eb867fd0226ad5840d1e2869&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=masadiary08-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4774198617&linkId=eb362f087100d6c7dfd795512a862a9c&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=masadiary08-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B071K5WM6P&linkId=aec99f3002757e9d49f631aa5a7845e3&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=masadiary08-22&o=9&p=8&l=as1&asins=4774163678&ref=qf_sp_asin_til&fc1=6E6969&IS2=1&lt1=_blank&m=amazon&lc1=4444FD&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                <div>
                    <p>こちらの本は旧版です😇</p>
                    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=masadiary08-22&o=9&p=8&l=as1&asins=4774165166&ref=qf_sp_asin_til&fc1=6E6969&IS2=1&lt1=_blank&m=amazon&lc1=4444FD&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=masadiary08-22&o=9&p=8&l=as1&asins=4774158798&ref=qf_sp_asin_til&fc1=6E6969&IS2=1&lt1=_blank&m=amazon&lc1=4444FD&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
      <div class="contact">
        <p>
          <i class="fa fa-user"></i>sugamasao
          <i class="fa fa-envelope"></i></i>sugamasao[at]gmail.com
          <i class="fa fa-cog"></i>css by <a href="http://icalialabs.github.io/furatto/">Furatto</a>
        </p>
      </div>

    </body>
</html>
